@charset "UTF-8";

.Content {
  width: 100%;
  position: absolute;
  top:3.5rem; // header padding:1rem height:2.5rem
}
.Content_items {
  background-color: $Container_backColor;
  list-style: none;
  overflow: hidden;
  margin: 0;
}
.Content_item {
  position: relative; // categoryをうまく表示させるための基準 bottom:0
  background-color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #e3e3e3;
  margin: .6rem 0;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;

}
.Content_item:last-child {
  border-bottom: 0px;
}
.Content_item-isChecked {
  background: $Drawer_itemCheckedColor !important;
}

/* event */
.Content_item_image {

}
.Content_item_category {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.9;
  font-size: 28px;
  font-weight: bold;
  font-family: Prata;
  text-align: left;
  line-height: 1.8rem;
  padding-top: 5%;
  z-index: 1;
}
.Content_item_text {
  padding: 4%;
  padding-left: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.9;
  color: white;
}