@charset "UTF-8";

.Content {
  width: 100%;
  position: absolute;
  top:3.5rem; // header padding:1rem height:2.5rem
  -webkit-transition: $pagingTransTime ease-out;
  transition: $pagingTransTime ease-out;
}
.Content_items {
  background-color: $Container_backColor;
  list-style: none;
  overflow: hidden;
  margin: 0;
}
.Content_item {
  position: relative; // categoryをうまく表示させるための基準 bottom:0
  background-color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #e3e3e3;
  margin: 8px 0;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  height: 27%;
}
.Content_item:last-child {
  border-bottom: 0px;
}
.Content_item-isChecked {
  background: $Drawer_itemCheckedColor !important;
}

/* event */
.Content_item_image {
  margin-left: 31px; // font-size:28+ border:3px
}
.Content_item_category {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  opacity: .9;
  font-size: 28px;
  font-weight: 700;
  font-family: Prata;
  text-align: left;
  line-height: 28px;
  padding-top: 10px;
  z-index: 1;
}
.Content_item_text {
  padding: 2% 5%;
  padding-left: 38px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: .6;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  //white-space: normal; // 入りきらない部分は自動的に改行して表示
  font-family: serif; // 取り敢えず
}
// image無いやつ
.Content_item_categoryWithoutImage {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  opacity: .9;
  font-size: 25px;
  font-weight: 700;
  font-family: Prata;
  text-align: center;
  line-height: 1.8rem;
  z-index: 1;
}
.Content_item_textWithoutImage {
  padding: 10%;
  padding-left: 38px;
  white-space: normal; // 入りきらない部分は自動的に改行して表示
  font-family: serif; // 取り敢えず
}
/* -- paging  --  */
.Content_is-paging {
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
}


/* -- pullUp  --  */
.Content_pullUp {
  background-color: $Container_backColor;
  height: 32px;
}
.Content_loading {
  position: absolute;
  left: 46%;
  margin: 0;
  width: 32px;
  font-size: 32px;
}