@charset "UTF-8";
/*
 DrawerKit ver.1.1.0
  部品
  　　・.Drawer(左裏に隠れてる。動かない)
        - Drawer_title
        - Drawer_items
        - Drawer_item
    　・.Container (本体。右にスライドする)
        - Container_mask
        - Container_mask-isHidden
  バグ
      透けて見えることがある
      ⇒その上のレイヤをbackground:whiteで隠す。
  js実装
      クリック時にContainer-isDrawingを付けたり外したりする。
      Container上にマスクを表示。マスクをタップでcloseにする。
  どんどん改良して下さい。
*/
// 変数
$DK_zIndex: $Drawer_zIndex;
$DK_bColor: $Drawer_backColor;
$DK_cColor: $Container_backColor;
$DK_itemCheckedColor: $Drawer_itemCheckedColor;
$DK_font: $EnglishFont;


// 横から出てくる部分
.Drawer {
  z-index: $DK_zIndex;
  background-color: $DK_bColor;
  font-family: $DK_font;
  width: 70%;
  color: white;
  position: fixed;
  // overflow: scroll;  // 【臨時】Drawing,pagingしても現在のスクロール位置が変わらないので使用
  -webkit-overflow-scrolling: touch; // 慣性スクロール
  top: 0;
  bottom: 0;
}
.Drawer_title {
  padding: .8rem 0;
  padding-left: 2rem;
}
.Drawer_items {
  list-style: none;
  margin: 0;
}
.Drawer_item {
  padding: 1.2rem 0;
  padding-left: 3rem;
  text-overflow: ellipsis;
}
.Drawer_item-checked {
  background: $DK_itemCheckedColor;
}

// Container Drawing //
.Container {
  position: absolute; //【臨時】コンテナのレイヤー化　後ろのDrawerが透けて見えるから対策
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: $DK_cColor;
  -webkit-transition: $pagingTransTime ease-in-out;
  transition: $pagingTransTime ease-in-out;
  // overflow: scroll;
  // -webkit-overflow-scrolling: touch; // 慣性スクロール

}

.Container-isDrawing { //クリック時に付け外しする
  -webkit-transform: translateX(70%);
  transform: translateX(70%);
  overflow-y: hidden;
  position: fixed;
}

.Container_mask {
  z-index: 1000;
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  right: 0;
  left: 0;
  // background: black; // 一番上までずれちゃうので、隠す。
  // opacity: 0.7; // 一番上までずれちゃうので、隠す。
}
.Container_mask-isHidden { //初期。付け外しする
  display: none;
}

/*   temporary CSS     */
.Drawer_prefIcon {
  text-align: right;
}
.Drawer_icon {
  position:absolute;
  right: 5%;
}
.Drawer_staff {
  position: absolute;
  bottom: 0;
  padding: 5%;
}