@charset "UTF-8";

.is-hidden {
  display: none;
}

/* button */
.button {
  border-radius: 4px;
  color:white;
  text-align: center;
  font-size: 1.1rem;
  padding: 6px 12px;
}
.button-ok {
  background-color: $lightBlue;
}
.button-cancel {
  background-color: $darkGrey;
}

/* Category Color left */
.categoryColor_umie {
  background-color: #40AAEF;
}
.categoryColor_sanda {
  background-color: #F27398;
}
.categoryColor_mitsui {
  background-color: #FBA848;
}

/* Category Color bottom */
.bottomColor_umie {
  background-color: #40AAEF;
}
.bottomColor_sanda {
  background-color: #F27398;
}
.bottomColor_mitsui {
  background-color: #FBA848;
}