@charset "UTF-8";

$Drawer_zIndex: -1;
$Header_zIndex: 1;

$Container_backColor: #F5F5F5; // white smoke
$Header_backColor: #44DEDE; // Turquoise
$Drawer_backColor: #383838; // Eclipse
$Drawer_itemCheckedColor: #F58E7E; // Light Coral

/* Color Code
#F5F5F5
White Smoke
#79D1B0
Downy
#FDC44F
Golden Tainoi
#33BFDB
Summer Sky
#5EBABA
Puerto Rico
#44DEDE
Turquoise
#8DCF3F
Atlantis
#93B8CA
Polo Blue
#F58E7E
Light Coral
#737373
Empress
#383838
Eclipse

#363947
Black Rock
*/