@charset "UTF-8";

$Drawer_zIndex: -1;
$ContentNext-zIndex: 2;
$Header_zIndex: 5;
$Dialog_zIndex: 10;

$Container_backColor: #ECEEF1; // Ocean#Solitude
$Header_backColor: #44DEDE; // Natural#Turquoise
$HeaderDropItems_BGColor: lightpink; // 一時的！
$Drawer_backColor: #383838; // Natural#Eclipse
$Drawer_itemCheckedColor: #F58E7E; // Natural#Light Coral

$Content_fontColor: #40AAEF; // Ocean#Summer Sky

$lightBlue: #70acff; // OK
$darkGrey: #9e9e9e; // Cancel

$EnglishFont: 'Prata', serif; // 'Crimson Text'

$pagingTransTime: 200ms; //

/* === Color Code === */

/* Ocean
#ECEEF1
Solitude
#0E7AC4
Denim
#40AAEF
Summer Sky
#363947
Black Rock
#58BE89
Silver Tree
#FBA848
My Sin
#F27398
Light Coral
#CCCCCC
Very Light Grey
*/

/* NATURAL
#F5F5F5
White Smoke
#79D1B0
Downy
#FDC44F
Golden Tainoi
#33BFDB
Summer Sky
#5EBABA
Puerto Rico
#44DEDE
Turquoise
#8DCF3F
Atlantis
#93B8CA
Polo Blue
#F58E7E
Light Coral
#737373
Empress
#383838
Eclipse

*/

/* その他
#E9EAEE
Loft.gitのbackgroundcolor
*/
