/*
Syntax error: File to import not found or unreadable: h.
              Load path: /Users/Tomokatsu/home/kobe2app/app/styles
        on line 10 of main.scss

5: @import "variables";
6: 
7: @import "container";
8: @import "drawingKit";
9: @import "header";
10: @import "h";

Backtrace:
main.scss:10
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/bin/scss:23:in `load'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/bin/scss:23:in `<main>'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Tomokatsu/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: h.\A               Load path: /Users/Tomokatsu/home/kobe2app/app/styles\A         on line 10 of main.scss\A \A 5: @import \"variables\";\A 6: \A 7: @import \"container\";\A 8: @import \"drawingKit\";\A 9: @import \"header\";\A 10: @import \"h\";"; }
